
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    font-size: larger;
    color:purple;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
  }
  
  #countdown-container {
    text-align: center;
  }
  
  .hidden {
    display: none;
  }
  